@{
    ViewBag.Title = "Home Page";
}

<div style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.fmig.com.au%2Fservices%2Fmri-magnetic-resonance-imaging&psig=AOvVaw0cA34i8t7I7c_RjvIl6yQl&ust=1694858651272000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCPDY1NCurIEDFQAAAAAdAAAAABAE') ; background-size:cover ; background-repeat:no-repeat">
    <div class="jumbotron">
        <h1>Monash MRI</h1>
        <p class="lead">Monash MRI is a cutting-edge web application designed to revolutionize the way you access and experience MRI 
        (Magnetic Resonance Imaging) scans. Developed by a team of experts at Monash Health,
        this innovative platform provides a seamless, user-friendly, and secure solution for both patients and healthcare professionals seeking advanced medical imaging services</p>
    
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Accessible Anytime, Anywhere:</h2>
            <p>
                Monash MRI empowers you to access your MRI scans from the comfort of your home or office. 
                Say goodbye to long wait times and the hassle of in-person appointments. 
                Our web application ensures that you have round-the-clock access to your medical imaging data.
            </p>
      
        </div>
        <div class="col-md-4">
            <h2>User-Friendly Interface:</h2>
            <p>Designed with simplicity in mind, Monash MRI boasts an intuitive and easy-to-navigate user interface.
            Whether you're a tech-savvy professional or a patient with limited technical experience, you'll find our platform user-friendly and efficient.</p>
       
        </div>
        <div class="col-md-4">
            <h2>Effortless Appointment Management:g</h2>
            <p>Seamlessly schedule, reschedule, or cancel MRI appointments through the Monash MRI web application. 
            Receive automated reminders and notifications to ensure you never miss an important scan.</p>
        
        </div>
    </div>
</div>